.main-screen {

  font-size: 1.4em;

  .main-screen-wrapper {
    background-color: whitesmoke;
    display: inline-block;
    padding: 20px 20px 55px 20px;
    border-radius: 14px;
    border: 1px solid black;
    margin: 120px 20px 400px 20px;
    position: relative;

    .firstTimeTag {
      margin: 20px;
      padding: 20px;
      background-color: wheat;
      font-size: 1.3em;
    }

    .statusUpdater-wrapper {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .hint {
      margin-top: 30px;
      font-size: 1em;
    }
  }
}
