.season-details {
    margin-top: 100px;

    p {
        font-size: 1.2em;
        margin: 0px;
        font-weight: bold;

        span {
            margin-right: 20px;
            margin-left: 20px;
        }

    }
    
}