$delay-time: .45s;
$btn-width: 300px;

$first-layer-bgcolor: #7cd56c;
$deep-layer-bgcolor: white;

.button {
  background-color: $first-layer-bgcolor;
  display: inline-flex;
  height: 100px;
  width: $btn-width;
  border: 2px solid black;
  margin: 20px 20px 20px 20px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 7px;


    .a {
      color: black;
        text-decoration: none;
        letter-spacing: 1px;
        position: relative;
        left: 0;
        transition: all $delay-time ease-Out;
    }

    .a-selected {
      color: black;
        text-decoration: none;
        letter-spacing: 1px;
        position: relative;
        left: 0;
        transition: all $delay-time ease-Out;
        left: $btn-width;       
    }


    .secondary-text {
        font-size: .7em;
        width: 100%;
        height: 100%;    
        left: -$btn-width;
        position: absolute;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all $delay-time ease-Out;
        bottom: 0;
      }

      .secondary-text-selected {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        background: $deep-layer-bgcolor;
        left: -$btn-width;
        position: absolute;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all $delay-time ease-Out;
        bottom: 0;
        color: black;
        left: 0;
      }

      .secondary-text-selected::after, .secondary-text::after {
        content: "";
        background-color: #8d49f3;
        width: 66%;
        height: 2px;
        position: absolute;
        bottom: 25px;
      }

}