.rules {
  margin: 70px 20px 200px 20px;

  .rules-paper {
    max-width: 850px;
    margin: auto;
    padding: 35px;

    .rules-heading {
      font-size: 1.8em;
    }

    .rules-txt {
      text-align: left;
      font-size: 1em;
    }
  }


  .sloppy-rules {
    padding: 15px;
    font-size: .4em;
    max-width: 850px;
    margin: auto;
    margin-top: 100px;
    text-align: left;

    h2 {
      margin-bottom: 20px;
    }

    .context-rules {
      .rule-header {
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

}
