$annimation-length: .8s;

header {
    padding: 40px 40px 40px 40px;
    background-color: #7cd56c;
    border-bottom: 5px solid black;
    text-align: left;
    font-size: 1.2em;
   // background-image: url("https://st2.depositphotos.com/1502315/8993/i/950/depositphotos_89939644-stock-photo-dark-grey-texture-may-used.jpg");

    .header-wrapper {
        position: relative;
        font-weight: bold;
        animation: $annimation-length ease-out 0s 1 slideInFromLeft;
        background-color: whitesmoke;
        display: inline;
        padding: 18px;
        padding-bottom: 30px;
        border-radius: 14px;
        border: 3px solid black;  
    }
    .header-wrapper::after {
        content: "";
        background-color: #8d49f3;
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: 25px;
        z-index: 3;
        left: 25%;
        transition: all .2s ease-Out;
        animation: 1s ease-out 0s 1 slideInFromLeftSlower;
    }

    .header-wrapper:hover::after {
        content: "";
        background-color: #8d49f3;
        width: 72%;
        height: 3px;
        position: absolute;
        bottom: 25px;
        z-index: 3;
        left: 14%;
        animation: 1s ease-out 0s 1 slideInFromLeftSlower;
    }

    nav {

        font-size: 1.4em;

        .MuiTab-wrapper {
            font-weight: bold;
            color: black;
        }
    
        .MuiTabs-indicator {
            background-color: #8d49f3;
        }
    }
   

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(7%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeftSlower {
    0% {
        left: 0%;
    }

    100% {
        left: 25%;
    }
}