.main-screen {
    
    .main-screen-wrapper {
        margin-top: 100px;
        background-color: whitesmoke;
        display: inline-block;
        padding: 20px 20px 55px 20px;
        border-radius: 14px;
        border: 1px solid black;
    }

}